html,body{
	padding-top: 75px;
	overflow-x: hidden;
	font-family: "Montserrat-Regular";
	position: relative;
}

/*.navbar{
	// background: black url('../images/trama.png') !important;
	// background: black !important;
	// border-bottom: 3px solid #816217;
	// padding-top: 0px;
}*/
.body{
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-image: url('../images/background-vives.png');
	background-repeat: repeat;
	background-position: 50%;
	opacity: .3;
	filter: alpha(opacity=30);
	display: none;
	z-index: -1;
}
.navbar-nav{
	position: relative;
}
.carousel-caption{
	left: 0;
	right: 0;
}
.caja-titulo:hover{
	cursor: pointer;
	color: white;
	background-color: rgba(200, 149, 26, 0.68);
}
#googleMaps{
	max-width: 100%;
	height: 430px;
}
.dorado{
	color: #C5AB70;
}
.g-recaptcha {
    transform:scale(0.77);
    transform-origin:0 0;
}
.caja-titulo{
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	padding: 10px;
	margin-top: 15px;
	border: 2px solid rgba(185, 185, 185, 0.56);
}
.nav-lin{
	width: 294px;
	display: block;
}
.nav-lin img{
	// position: absolute;
	// margin-top: -10px;
}
.nav-link{
	// padding: 2.5rem 1rem;
}
.servicios{
	background-image: url('../images/servicios.png');
	background-repeat: no-repeat;
	background-size: cover;
}
.nav-item{
	margin-top: 30px;
}

.login-right{
	position: relative;
	display: block;
	background-color: #F5F5F5;
}
/*// .social-media{*/
/*// 	position: absolute;*/
/*// 	top: 5px;*/
/*// 	right: 10px;*/
/*// }*/
.bg-amarillo{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b08a5c+0,d2bf7c+35,ceb86e+66,b08a5c+100 */
background: #b08a5c; /* Old browsers */
background: -moz-linear-gradient(left, #b08a5c 0%, #d2bf7c 35%, #ceb86e 66%, #b08a5c 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #b08a5c 0%,#d2bf7c 35%,#ceb86e 66%,#b08a5c 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #b08a5c 0%,#d2bf7c 35%,#ceb86e 66%,#b08a5c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b08a5c', endColorstr='#b08a5c',GradientType=1 ); /* IE6-9 */
	cursor: pointer;
	// border: 2px solid #d1bd77 !important;
	// background-color: #d1bd77 !important;
}
textarea{
	resize: none;
}
input:visited,
select:visited,
textarea:visited,
input:active,
select:active,
textarea:active,
input:focus,
select,
select:focus,
textarea:focus{
	background-color: transparent;
	outline: none;
}
ul.nav-tabs{
	display: block;
}
.ama{
	color: #C5AB70;
}
.social-media .fa{
	color: #d1bd77 !important;
	padding: 5px;
	// width: 55px;
	font-size: 25px;
	text-align: center;
}
@media screen and (max-width: 990px){
	.navbar-nav{
		background: none;
	}
}
.navbar-light .navbar-toggler {
    border-color: #7c5f16;
    background: #7c5f16;
}
.agenda{
	background-color: rgba(105, 105, 105, 0.09);
}
.nosotros:before,
li.active a.df:before{
	content: url('../images/iconito1.png');
	position: absolute;
	top: -7px;
	text-align: center;
	margin: 0 auto;
	left: 0;
	right: 0;
}
.nosotros:before{
	content: url('../images/iconito.png');
	top: -20px;
left: -150px;
right: 0;
-webkit-transform: rotate(-37deg);
-moz-transform: rotate(-37deg);
-o-transform: rotate(-37deg);
transform: rotate(-37deg);
}
li.active{
	position: relative;
}
.padding{
	padding: 30px;
}

.form-check-label{
	cursor: pointer;
}
.text-black{
	color: black !important;
}
.bg-gris{
	background-color: #3c3c3b;
}
.bg-negro{
	background-color: #1d1d1b;
}
.bg-negro.a{
	border-top: 3px solid #816217;
	padding: 20px;
	background-color: black;
}
.text-regular{
	font-family: "Montserrat-Regular";
}
.text-light{
	color: rgba(248, 249, 250, 0.48)!important;
	font-family: "Montserrat-Light";
}
._text-light{
	font-family: "Montserrat-Light";
}
.text-bold{
	font-family: "Montserrat-Bold";
}
::-webkit-input-placeholder {
   color: white !important;
}

:-moz-placeholder { /* Firefox 18- */
   color: white !important;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: white !important; 
}
.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
}

.nav-tabs {
    text-align:center;
}

.bg-gray{
	background-color: #F5F5F5;
	border:0;
}
.text-title{
	font-size: 20px;
}


.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b08a5c+0,d2bf7c+35,ceb86e+66,b08a5c+100 */
background: #b08a5c; /* Old browsers */
background: -moz-linear-gradient(left, #b08a5c 0%, #d2bf7c 35%, #ceb86e 66%, #b08a5c 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #b08a5c 0%,#d2bf7c 35%,#ceb86e 66%,#b08a5c 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #b08a5c 0%,#d2bf7c 35%,#ceb86e 66%,#b08a5c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b08a5c', endColorstr='#b08a5c',GradientType=1 ); /* IE6-9 */
}

:-ms-input-placeholder {  
   color: white !important; 
}
.carousel-control-prev .fa{
	padding: 10px;
border: 4px solid #061a1d;
color: #fff;
height: 40px;
width: 40px;
}
.carousel-control-next .fa{
	padding: 10px;
border: 4px solid #061a1d;
color: #fff;
height: 40px;
width: 40px;
}
.carousel-fade .carousel-inner .carousel-item {
    opacity: 0.8;
    transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
    opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 0;
}
.carousel-fade .carousel-control {
    z-index: 1;
}
@media all and (transform-3d),
(-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .carousel-item.next,
    .carousel-fade .carousel-inner > .carousel-item.active.right {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .carousel-item.prev,
    .carousel-fade .carousel-inner > .carousel-item.active.left {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .carousel-item.next.left,
    .carousel-fade .carousel-inner > .carousel-item.prev.right,
    .carousel-fade .carousel-inner > .carousel-item.active {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

	::-webkit-input-placeholder{
		color:#0b0b0b !important;
		font-size: 14px;
	}
	::-moz-placeholder{
		color: #0b0b0b !important;
		font-size: 14px;
	}
	:-ms-input-placeholder{
		color: #0b0b0b !important;
		font-size: 14px;
	}
	:-moz-placeholder {
		color: #0b0b0b !important;
		font-size: 14px;
	}

	.form-control:focus{
		border-color: #eb5b2a;
		-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 6px rgba(235, 92, 42,.8);
		box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 6px rgba(235, 92, 42,.8);
		background-color: #b6a338;
	}


}
/*// .carousel, .carousel-inner{*/
/*//     height: 100%;*/
/*// }*/
/*// .carousel-item:nth-child(1) {*/
/*//     background: url('../images/banner-principal.png') no-repeat center center fixed;*/
/*//     -webkit-background-size: cover;*/
/*//     -moz-background-size: cover;*/
/*//     -o-background-size: cover;*/
/*//     background-size: cover;*/
/*// }*/
/*// .carousel-item:nth-child(2) {*/
/*//     background: url('../images/banner-principal.png') no-repeat center center fixed;*/
/*//     -webkit-background-size: cover;*/
/*//     -moz-background-size: cover;*/
/*//     -o-background-size: cover;*/
/*//     background-size: cover;*/
/*// }*/
/*// .carousel-item:nth-child(3) {*/
/*//     background: url('../images/banner-principal.png') no-repeat center center fixed;*/
/*//     -webkit-background-size: cover;*/
/*//     -moz-background-size: cover;*/
/*//     -o-background-size: cover;*/
/*//     background-size: cover;*/
/*// }*/
/*// .carousel {*/
/*//     z-index: -99;*/

/*// }*/
/*// .carousel .carousel-item {*/
/*//     position: fixed;*/
/*//     width: 100%;*/
/*//     height: 100%;*/
/*// }*/